<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="ua.org.rent"
		  android:versionCode="1"
		  android:versionName="1.0">
	<application android:label="@string/app_name"
				 android:name=".settings.RentAppState">
		<activity android:name=".controller.Tab"
				  android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity
			android:launchMode="singleTop"
			android:name=".controller.Search"
			android:label="@string/app_name" >
		</activity>
		
		<activity
			android:launchMode="singleTop"
			android:name=".controller.History"
			android:label="@string/app_name" >
		</activity>
		
		<activity
			android:launchMode="singleTop"
			android:name=".controller.Result"
			android:label="@string/app_name" >
		</activity>
		
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.CALL_PRIVILEGED" />
</manifest> 
